language: python

python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - 3.6
    - pypy

install:
    - pip install --upgrade pip setuptools
    - pip install -r requirements.txt
    - pip install hatchery
    - pip install coveralls

script:
    - hatchery clean test

after_success:
    - coveralls
